<!DOCTYPE html>
<html>
<head>
  <title>Birdy Num Num</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render "layouts/partials/nav" %>
  <%= render "layouts/partials/header" %>
    <div class="refills-wrapper">
      <section class="container">

        <div id="epsilon">
        <% sidebar_values %>
        <%= form_for(:recipes, method: :get) do |f| %>
          <div class="cards">
            <div class="card">
              <div class="card-image">
                <img src="http://lorempixel.com/400/200/food/2/" alt="Food Preferences">
              </div>
              <div class="card-header">Food Preferences</div>
              <div>
                <% selected = params[:food_preferences] == "0" ||  (!params[:food_preferences].present?) %>
                <%= radio_button_tag 'food_preferences', '0', selected %> All
              </div>
                <% @food_preferences.each do |fp| %>
                <div class="card-copy">
                  <% selected = params[:food_preferences] == "#{fp.id}" %>
                  <%= radio_button_tag 'food_preferences', fp.id, selected %><%= fp.name %>
                </div>
              <% end %>

            <div class="card">
              <div class="card-image">
                <img src="http://lorempixel.com/400/200/food/5/" alt="Food Types">
              </div>
              <div class="card-header">Food Types</div>
              <% selected = params[:food_types] == "0" ||  (!params[:food_types].present?) %>
              <p><%= radio_button_tag 'food_types', '0', selected %>All</p>
              <% @food_types.each do |ft| %>
              <div class="card-copy">
                <% selected = params[:food_types] == "#{ft.id}" %>
                <p><%= radio_button_tag 'food_types', ft.id, selected %><%= ft.name %></p>
              </div>
              <% end %>
            </div>

            <div class="card">
              <div class="card-image">
                <img src="http://lorempixel.com/400/200/nightlife/3/" alt="Cuisines">
              </div>
              <div class="card-header">Cuisines</div>
              <% selected = params[:cuisines] == "0" ||  (!params[:cuisines].present?) %>
              <p><%= radio_button_tag 'cuisines', '0', selected %>All</p>
              <% @cuisines.each do |c| %>
              <div class="card-copy">
                <% selected = params[:cuisines] == "#{c.id}" %>
                <p><%= radio_button_tag 'cuisines', c.id, selected %><%= c.name %></p>
              </div>
              <% end %>
            </div>
            <%= submit_tag("Filter") %>
          </div>
        <% end %>
        </div>

        <div id="zeta">
        <% form_for(:recipes, method: :get)  do |f| %>
          <%= text_field_tag 'search', nil, placeholder: "Search" %>
          <%= f.submit "Search" %>
        <% end %>

          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </section>
    </div>
  <%= render "layouts/partials/footer" %>
</body>
</html>
